repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/sbrunner/hooks
    rev: 1.6.1
    hooks:
      - id: copyright
      - id: workflows-require-timeout
      - id: poetry2-lock
        additional_dependencies:
          - poetry==2.3.2 # pypi
      - id: canonicalize
      - id: prospector-to-ruff
        additional_dependencies:
          - prospector-profile-duplicated==1.12.0 # pypi
          - prospector-profile-utils==1.27.0 # pypi
        args:
          - --test=utils:tests
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(.*/)?poetry\.lock$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.8.1 # npm
          - prettier-plugin-sh@0.18.0 # npm
          - prettier-plugin-toml@2.0.6 # npm
          - '@prettier/plugin-xml@0.12.0' # npm
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.37.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-jsonschema
        name: Check GitHub Workflows set timeout-minutes
        files: ^\.github/workflows/[^/]+$
        types:
          - yaml
        args:
          - --builtin-schema
          - github-workflows-require-timeout
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.9
    hooks:
      - id: ripsecrets
  - repo: https://github.com/prospector-dev/prospector
    rev: v1.18.0
    hooks:
      - id: prospector
        args:
          - --profile=utils:pre-commit
          - --die-on-tool-error
          - --output-format=pylint
          - --profile=.prospector.yaml
        additional_dependencies:
          - prospector-profile-duplicated==1.12.0 # pypi
          - prospector-profile-utils==1.27.0 # pypi
          - pylint[spelling]==4.0.5 # pypi
          - ruff==0.15.4 # pypi
          - mypy==1.19.1 # pypi
        exclude: |-
          (?x)(
            ^tests?/?
            |/tests?(/|$)
            |.*/tests(/|$)
            |(^|/)test_[_a-zA-Z0-9]+.py$
            |(^|/)[_a-zA-Z0-9]+_tests?.py$
            |(^|/)tests?.py$
          )
      - id: prospector
        args:
          - --die-on-tool-error
          - --output-format=pylint
          - --profile=utils:tests
          - --profile=utils:pre-commit
        additional_dependencies:
          - prospector-profile-utils==1.27.0 # pypi
          - pylint[spelling]==4.0.5 # pypi
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.46.2
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff-format
  - repo: https://github.com/sbrunner/python-versions-hook
    rev: 1.3.0
    hooks:
      - id: python-versions
  - repo: https://github.com/sbrunner/jsonschema-validator
    rev: 1.0.0
    hooks:
      - id: jsonschema-validator
        files: ^\.github/publish\.yaml$
