[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.2"
scikit-image = "==0.19.1"

[dev-packages]
pytest = "==6.2.5"
pytest-profiling = "==1.7.0"
coverage = "==6.3.1"
prospector = {extras = ["with_bandit", "with_mypy"], version = "==1.6.0"}
flake8 = "==3.9.2"

[requires]
python_version = "3.8"
