[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.22.3"
scikit-image = "==0.19.2"

[dev-packages]
pytest = "==7.1.1"
pytest-profiling = "==1.7.0"
coverage = "==6.3.2"
prospector = {extras = ["with_bandit", "with_mypy"], version = "==1.7.7"}
flake8 = "==4.0.1"

[requires]
python_version = "3.8"
