[tool.black]
line-length = 110
target-version = ['py38']

[tool.poetry]
name = 'shifter-pandas'
version = '0.0.0'
description = 'Not used'
authors = []

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
numpy = "==1.22.2"
scikit-image = "==0.19.2"

[tool.poetry.dev-dependencies]
pytest = "==7.0.1"
pytest-profiling = "==1.7.0"
coverage = "==6.3.2"
prospector = {extras = ["with_bandit", "with_mypy"], version = "==1.7.4"}
flake8 = "==3.9.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
